.MapSearchBarStopResult__wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;

    background-color: #fff;

    font-family: inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.05;

    padding: 8px;
    gap: 10px;

    transition: background-color 150ms ease-out;

    & span {
        font-size: 28px;
        line-height: 1.16;
    }

    &:hover {
        background-color: #f4f4f4;
    }
}

.MapSearchBarStopResult__wrapper_selected {
    background-color: #f4f4f4;
}

.MapSearchBarStopResult__text {
    margin: 0;
    text-align: left;
}