.MainPage {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: url(./Footer.svg) repeat-x center bottom;
    background-size: 150% auto;
    padding-bottom: 22vw;
}

.MainPageInner {
    width: 100%;
    max-width: 1980px;
    margin: auto;
    padding: 2vmax 2vmax 4vmax;
}

.MainPageLogo {
    display: flex;
    align-items: center;
    margin-top: 0.15em;
    margin-bottom: .8em;
    color: #123;
    font-weight: 500;
    font-size: min(8vw, 176px);
    line-height: 1;
}

.MainPageLogo svg {
    flex-shrink: 0;
    width: 2.25em;
    height: 2.25em;
    margin-right: .25em;
}

.MainPageTitle {
    font-size: 1em;
    font-weight: 500;
    margin: 0;
    margin-bottom: 0.4vw;
}

.MainPageCardGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-flow: row dense;
    gap: 24px;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .MainPageCardGrid {
        gap: 40px;
        margin-bottom: 40px;
    }
}

.MainPageCardGrid > * {
    aspect-ratio: 1 / 1;
}

/* TODO: control grid size via CMS */
.MainPageCardGrid > *:nth-child(1),
.MainPageCardGrid > *:nth-child(8) {
    grid-area: span 1 / span 2;
    aspect-ratio: 2 / 1;
}

@media screen and (min-width: 768px) {
    .MainPage {
        background-size: 100% auto;
        padding-bottom: 16vw;
    }

    .MainPageCardGrid > *:nth-child(1),
    .MainPageCardGrid > *:nth-child(6),
    .MainPageCardGrid > *:nth-child(8),
    .MainPageCardGrid > *:nth-child(11) {
        grid-area: span 1 / span 2;
        aspect-ratio: 2 / 1;
    }
}


@media screen and (min-width: 1200px) {
    .MainPageCardGrid {
        grid-template-columns: repeat(4,1fr);
    }
    
    .MainPageCardGrid > * {
        aspect-ratio: auto;
    }
}

