.MainPage {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: #f2f2f2;
}

.MainPageInner {
    width: 100%;
    margin: auto;
    padding: 0 20px;
}

@media screen and (min-width: 768px) {
    .MainPageInner {
        max-width: 1800px;
        padding: 0 2vmax;
    }
}

.MainPageLogo {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 1.1em;
    color: #123;
    font-weight: 500;
    font-size: min(9.8vw, 176px);
    line-height: 1;
}


@media screen and (min-width: 768px) {
    .MainPageLogo {
        margin-bottom: .8em;
    }
}

.MainPageLogo svg {
    flex-shrink: 0;
    width: 2.3em;
    height: 2.3em;
    margin-right: .26em;
}

.MainPageTitle {
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}

.MainPageCardGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-flow: row dense;
    gap: 24px;
}

@media screen and (min-width: 768px) {
    .MainPageCardGrid {
        gap: 32px;
    }
}

.MainPageCardGrid > * {
    aspect-ratio: 1 / 1;
}

/* TODO: control grid size via CMS */
.MainPageCardGrid > *:nth-child(1),
.MainPageCardGrid > *:nth-child(8) {
    grid-area: span 1 / span 2;
    aspect-ratio: 2 / 1;
}

@media screen and (min-width: 768px) {
    .MainPageCardGrid > *:nth-child(1),
    .MainPageCardGrid > *:nth-child(6),
    .MainPageCardGrid > *:nth-child(8),
    .MainPageCardGrid > *:nth-child(11) {
        grid-area: span 1 / span 2;
        aspect-ratio: 2 / 1;
    }
    
    .MainPageCardGrid > *:nth-child(2) {
        background-color: transparent !important;
    }

    .MainPageCardGrid > *:nth-child(2) [class*="CardTitle"] {
        font-size: 40px;
    }
}


@media screen and (min-width: 1200px) {
    .MainPageCardGrid {
        grid-template-columns: repeat(4,1fr);
    }
    
    .MainPageCardGrid > * {
        aspect-ratio: auto;
    }
}
