.MapVehicleMarkerArrow {
    position: absolute;
    top: 0;
    left: 0;

    transition: transform 1s linear;
}

.MapVehicleMarkerIcon {
    position: absolute;
    top: 6px;
    left: 6px;
}

.MapVehicleMarkerInfo {
    position: absolute;
    left: 31px;
    top: 7px;
    width: 66px;

    display: flex;
}

.MapVehicleMarkerInfo_course_east {
    left: -67px;
    flex-direction: row-reverse;
}

.MapVehicleMarkerInfoItem {
    display: block;
    background-color: #fff;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.MapVehicleMarkerRoute {
    width: 28px;
    min-width: 28px;

    text-align: center;
    padding: 3px 0 3px;
    box-sizing: border-box;

    font-family: 'Iset Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 16px;
    line-height: 13px;
}

.MapVehicleMarkerDisabilityIcon {
    display: block;
    margin: 3px auto;
}

.MapVehicleMarkerWarningIcon {
    display: block;
    margin: 2.5px auto;
}

.MapVehicleMarkerDisabilityWarning {
    height: 16px;
    display: flex;
}
