.Feedback {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 64px;
    background: #f9d548;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.05;
    text-decoration: none;
}

/* leaflet styles for links have more specificity */
.Feedback.Feedback {
    color: var(--text-primary);
}

.Feedback_Size-m,
.Feedback_Size-l {
    padding: 12px 16px;
}


@media screen and (min-width: 420px) {
    .Feedback {
        font-size: 20px;
    }
    
    .Feedback_Size-m,
    .Feedback_Size-l {
        height: 48px;
        padding: 8px 24px;
    }
}

@media screen and (min-width: 1440px) {
    .Feedback_Size-l {
        height: 60px;
        padding: 24px 32px;
        font-size: 24px;
    }
}
