.MapSearchBar {
    --search-border-width: 4px;
    --search-border-color: rgba(230, 228, 224, 0.64);
    --search-mobile-mini-width: 116px;
    --search-inner-border-radius: 4px;
    --search-outer-border-radius: calc(2 * var(--search-inner-border-radius));

    display: flex;
    flex-direction: column;
    gap: 2px;

    max-width: 448px;
    height: max-content;
    max-height: calc(45vh - 100px);

    border-radius: 86px;
    border: var(--search-border-width) solid transparent;

    background-color: transparent;

    transition: 150ms width ease-out, 150ms border-radius ease-out, 150ms border-color ease-out, 150ms background-color ease-out;
}

.MapSearchBar_withText,
.MapSearchBar:focus-within {
    border-color: var(--search-border-color);
    border-radius: var(--search-outer-border-radius);
    background-color: var(--search-border-color);
}

.MapSearchBar__form {
    display: flex;

    height: 48px;
    width: 100%;

    border-radius: 86px;

    background-color: #fff;
    gap: 8px;

    transition: 150ms width ease-out, 150ms border-radius ease-out;
}

.MapSearchBar_withText > .MapSearchBar__form,
.MapSearchBar__form:focus-within {
    border-radius: var(--search-inner-border-radius);
}

.MapSearchBar__form_withResult {
    border-radius: 4px 4px 0px 0px;
}

.MapSearchBar__input {
    width: 100%;
    padding: 12px 16px 12px 48px;
    border: none;
    outline: none;

    background-image: url('/icons/search.svg');
    background-repeat: no-repeat;
    background-position: 16px 50%;

    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    background-color: transparent;

    &::placeholder {
        color: #000;
        opacity: 1;
    }

    &:focus::placeholder {
        opacity: 0;
    }

    &::-webkit-search-cancel-button {
        appearance: none;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYgNkwxOCAxOE02IDE4TDE4IDYiIHN0cm9rZT0iIzlCQUFDMyIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+Cjwvc3ZnPgoK);
        background-size: contain;
        opacity: 1;
        pointer-events: all;
        cursor: pointer;
        width: 24px;
        height: 24px;
        margin: 0;
    }

    &::-webkit-search-decoration {
        display: none;
    }
}

.MapSearchBar__results {
    display: flex;
    flex-direction: column;
    gap: 2px;

    overflow: auto;

    border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 768px) {
    .MapSearchBar {
        width: calc(var(--search-mobile-mini-width) + 2 * var(--search-border-width));
        max-width: none;

        border-color: transparent;
        border-radius: 40px;
    }

    .MapSearchBar:focus-within,
    .MapSearchBar_withText {
        width: 100%;
        border-radius: var(--search-outer-border-radius);
        border-color: var(--search-border-color);
    }

    .MapSearchBar__form {
        width: var(--search-mobile-mini-width);
        border-radius: 40px;
    }

    .MapSearchBar__form:focus-within,
    .MapSearchBar_withText > .MapSearchBar__form {
        border-radius: var(--search-inner-border-radius);
        width: 100%;
    }

    .MapSearchBar__input {
        &::-webkit-search-cancel-button {
            display: none;
        }
    }

    .MapSearchBar__input:focus,
    .MapSearchBar_withText .MapSearchBar__input {
        &::-webkit-search-cancel-button {
            display: block;
        }
    }
}