:root {
    --background-primary: white;
    --text-primary: black;
    --background-secondary: #F2F2F2;
    --text-secondary: #1E2841;

    --functional: #55647D;
    --functional-tram: #9BAAC3;

    --bus: #00B400;
    --bus-translucent: #6DC76D;
    --tram: #FF640F;
    --tram-translucent: #ED9F74;
    --troll: #00B4FF;
    --troll-translucent: #80D9FF;

    --cards-pedestrian-bg: #FAF4EF;
    --cards-pedestrian-bg-hover: #FF640F;
    --cards-pedestrian-text: #4C3F00;
    --cards-public-bg: #F5FBF5;
    --cards-public-bg-hover: #00B400;
    --cards-public-text: #044815;
    --cards-car-bg: #FEF6F6;
    --cards-car-bg-hover: #E63223;
    --cards-car-text: #5C110A;
    --cards-other-bg: #F8F9FC;
    --cards-other-bg-hover: #00B4FF;
    --cards-other-text: #0C1B27;
}
