@import './font';
@import './colors';

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Iset Sans', sans-serif;
    height: 100%;
    color: var(--text-primary);
    background: var(--background-primary);
}

#__next {
    height: 100%;
    overflow-y: auto;
}

a {
    color: inherit;
}

* {
    box-sizing: border-box;
}

.leaflet-control-container .leaflet-bottom.leaflet-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 165px;

    margin: 16px;
}

.leaflet-control-container .leaflet-bottom.leaflet-right > div {
    margin: 0;
}

.leaflet-container {
	background: rgb(225, 225, 225) !important;
    font-family: inherit !important;
}

@media screen and (max-width: 768px) {
    /* TODO ecosystem fix */
    [class*="modal__toggle"] > div {
        transform: scale(.632) translateY(-12px) translateX(11px);
        transform-origin: left bottom;
    }
}
