.MapVehicle {
    position: relative;

    border: none;
    background-color: transparent;
}

.MapVehicleWrapper {
    transition: transform 9s linear;
}

.MapVehicleArrow {
    position: absolute;
    top: 0;
    left: 0;

    transition: transform 1s linear;
}

.MapVehicleIcon {
    position: absolute;
    top: 8.5px;
    left: 8.5px;
}

.MapVehicleRoute {
    position: absolute;

    width: 35px;
    left: 16px;
    top: 7px;

    background-color: #fff;
    border-radius: 3px;
    color: black;
    text-align: right;
    padding: 1px 4px 0;

    font-family: 'Iset Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}

.MapVehicleRoute_left {
    left: -19px;
    text-align: left;
}
