.MapStopsSidebar {
    max-height: calc(100vh - 150px);

    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-left: 16px;
    width: 448px;

    border-radius: 16px;
    color: var(--text-secondary);

    font-family: 'Iset Sans', sans-serif;
}

.MapStopsSidebarWrapper {
    position: relative;
    border-radius: 16px;
    background-color: var(--background-primary);

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.MapStopsSidebarWrapper::-webkit-scrollbar {
    display: none;
}

.MapStopsSidebarRow {
    padding: 16px 24px;
}

.MapStopsSidebarHeaderWrapper {
    position: sticky;
    top: 0;
    left: 0;
}

.MapStopsSidebarHeader {
    display: flex;
    gap: 16px;

    background-color: #fff;
}

.MapStopsSidebarHeaderInfo {
    display: flex;
    gap: 10px;
    flex: 1;
}

.MapStopsSidebarCloseButton {
    border: 0;
    padding: 0;

    background: none;
    cursor: pointer;
}

.MapStopsSidebarCloseIcon > path {
    stroke: var(--text-primary);
}

.MapStopsSidebarVehicles {
    display: flex;
    flex-direction: column;
    gap: 30px;

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.MapStopsSidebarVehicles::-webkit-scrollbar {
    display: none;
}

.MapStopsSidebarVehicle {
    display: flex;
    gap: 32px;
}

.MapStopsSidebarVehicleInfo {
    display: flex;
    gap: 16px;
    flex: 1;
}

.MapStopsSidebarVehicleRoute {
    flex-shrink: 0;

    width: 58px;
    height: 32px;
    border-radius: 3px;

    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    text-align: center;

    color: white;
}

.MapStopsSidebarVehicleRouteBus {
    background-color: var(--bus);
}

.MapStopsSidebarVehicleRouteTram {
    background-color: var(--tram);
}

.MapStopsSidebarVehicleRouteTroll {
    background-color: var(--troll);
}

.MapStopsSidebarVehicleEndpoint {
    font-size: 20px;
    line-height: 22px;
}

.MapStopsSidebarVehicleKeypoints,
.MapStopsSidebarVehicleArriveTime {
    font-size: 16px;
    line-height: 18px;
}

.MapStopsSidebarVehicleKeypoints {
    font-weight: 300;
}
