.MapStopsSidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--background-primary);
    color: var(--text-secondary);
    position: relative;
    height: 100%;

    font-family: 'Iset Sans', sans-serif;
}

.MapStopsSidebarRow {
    padding: 16px 24px;
}

.MapStopsSidebarHeaderWrapper {
    position: sticky;
    top: 0;
}

.MapStopsSidebarHeader {
    display: flex;
    gap: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-right: 80px;

    background-color: #fff;
}

.MapStopsSidebarHeaderInfo {
    display: flex;
    gap: 10px;
    flex: 1;
}

.MapStopsSidebarCloseButton {
    border: 0;
    padding: 0;

    background: none;
    cursor: pointer;
    z-index: 100;
}

.MapStopsSidebarCloseIcon > path {
    stroke: var(--text-primary);
}

.MapStopsSidebarVehicles {
    display: flex;
    flex-direction: column;
    gap: 30px;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.MapStopsSidebarVehicles::-webkit-scrollbar {
    display: none;
}

.MapStopsSidebarVehicle {
    display: flex;
    gap: 32px;
}

.MapStopsSidebarVehicleInfo {
    display: flex;
    gap: 16px;
    flex: 1;
}

.MapStopsSidebarVehicleRoute {
    flex-shrink: 0;

    width: 58px;
    height: 32px;
    border-radius: 3px;

    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    text-align: center;

    color: white;
}

.MapStopsSidebarVehicleRouteBus {
    background-color: var(--bus);
}

.MapStopsSidebarVehicleRouteTram {
    background-color: var(--tram);
}

.MapStopsSidebarVehicleRouteTroll {
    background-color: var(--troll);
}

.MapStopsSidebarVehicleEndpoint {
    font-size: 20px;
    line-height: 22px;
}

.MapStopsSidebarVehicleKeypoints,
.MapStopsSidebarVehicleArriveTime {
    font-size: 16px;
    line-height: 18px;
}

.MapStopsSidebarVehicleKeypoints {
    font-weight: 300;
}
