.Marquee {
    font-family: 'Press Start 2P';
    padding: 8px;
    background: #000000;
    border-radius: 8px;
    overflow: hidden;
    color: rgb(230, 50, 35);
    text-shadow: 0px 0px 16px #E63223;
}

@media screen and (min-width: 1440px) {
    .Marquee {
        display: block;
    }
}

.MarqueeInner {
    display: flex;
    gap: 72px;
    padding: 0 8px;
    animation: 60s infinite linear marquee;
}


@media screen and (min-width: 768px) {
    .MarqueeInner {
        animation-duration: 100s;
    }
}

.Marquee:hover .MarqueeInner {
    animation-play-state: paused;
}


.MarqueeItem {
    padding-left: 100%;
    white-space: nowrap;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.35;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-1000%);
    }
}
