.MapVehicleMarker {
    animation: 150ms ease-out enlarge;
    transform-origin: 10px 20px;
}

@keyframes enlarge {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.MapVehicleMarkerArrow {
    position: absolute;
    top: 0;
    left: 0;

    transition: transform 1s linear;
}

.MapVehicleMarkerIcon {
    position: absolute;
    top: 15px;
    left: 7px;
}

.MapVehicleMarkerInfo {
    position: absolute;
    left: 41px;
    top: 14px;
    width: 66px;

    display: flex;
}

.MapVehicleMarkerInfo_course_east {
    left: -67px;
    flex-direction: row-reverse;
}

.MapVehicleMarkerInfoItem {
    display: block;
    background-color: #fff;
    border-radius: 3px;
    min-width: 24px;
    height: 24px;
    margin-right: 2px;
}

.MapVehicleMarkerRoute {
    min-width: 42px;

    text-align: center;
    box-sizing: border-box;

    font-family: 'Iset Sans', sans-serif;
    font-size: 21px;
    font-weight: 500;
    height: 24px;
    line-height: 24px;
    padding: 0 4px;
}

.MapVehicleMarkerAccessibilityIcon {
    display: block;
    margin: 3px auto;
}

.MapVehicleMarkerWarningIcon {
    display: block;
    margin: 2.5px auto;
}

.MapVehicleMarkerAccessibilityWarning {
    height: 24px;
    display: flex;
}
