.CardTrafficLight {
    width: 110px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 59px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 10px;
}

.CardTrafficLight_Green {
    color: white;
    background-image: url("/icons/traffic-light_green.svg");
}
.CardTrafficLight_Yellow {
    color: #141D34;
    background-image: url("/icons/traffic-light_yellow.svg");
}
.CardTrafficLight_Red {
    color: white;
    background-image: url("/icons/traffic-light_red.svg");
}