.CardTrafficLight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.9em;
    height: 1.7em;
    padding-top: 0.1em;
    padding-left: 0.25em;
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
    font-weight: 500;
    font-size: clamp(48px, 5vw, 100px);
    margin-left: auto;
}

.CardTrafficLight_Green {
    color: white;
    background-image: url("/icons/traffic-light_green.svg");
}

.CardTrafficLight_Yellow {
    color: #141D34;
    background-image: url("/icons/traffic-light_yellow.svg");
}

.CardTrafficLight_Red {
    color: white;
    background-image: url("/icons/traffic-light_red.svg");
}
