.MapStopsSidebarVehicle {
    display: flex;
    gap: 32px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 0 0 8px transparent;
}

.MapStopsSidebarVehicle:not(.MapStopsSidebarVehicle_isSelected):hover {
    background-color: #eaeaea;
    box-shadow: 0 0 0 8px #eaeaea;
}

.MapStopsSidebarVehicle_isSelected {
    background-color: var(--vehicle-color);
    color: #fff;
    box-shadow: 0 0 0 8px var(--vehicle-color);
}

.MapStopsSidebarVehicleInfo {
    display: flex;
    gap: 16px;
    flex: 1;
}

.MapStopsSidebarVehicleRoute {
    flex-shrink: 0;

    width: 58px;
    height: 32px;
    border-radius: 3px;

    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    text-align: center;

    color: #fff;
    background-color: var(--vehicle-color);
}

.MapStopsSidebarVehicleRouteBus {
    background-color: var(--bus);
}

.MapStopsSidebarVehicleRouteTram {
    background-color: var(--tram);
}

.MapStopsSidebarVehicleRouteTroll {
    background-color: var(--troll);
}

.MapStopsSidebarVehicleEndpoint {
    font-size: 20px;
    line-height: 22px;
}

.MapStopsSidebarVehicleKeypoints,
.MapStopsSidebarVehicleArriveTime {
    font-size: 16px;
    line-height: 18px;
}

.MapStopsSidebarVehicleKeypoints {
    font-weight: 300;
}
