.Card {
    --CardTitleColor: inherit;
    --CardTitleBgrColor: transparent;

    --CardTitleUnderlineColor: inherit;

    --CardBgrColor: transparent;
    --CardBgrImage: none;

    --CardSubtitleColor: inherit;

    --CardButtonColor: inherit;
    --CardButtonBgrColor: transparent;

    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    border-radius: 16px;
    text-decoration: none;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-color: var(--CardBgrColor);
    background-image: var(--CardBgrImage);
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.08);
}

.Card:before {
    content: '';
    position: absolute;
    border-radius: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.25);
    opacity: 0;
    pointer-events: none;
    transition: .15s ease opacity;
}

@media (hover: hover) {
    .Card:hover:before {
        opacity: .1;
        box-shadow: 0 2px 4px rgba(0,0,0,.2);
    }
}

.Card:active:before {
    opacity: .15;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

@media screen and (min-width: 768px) {
    .Card {
        padding: 36px;
        border-radius: 24px;
    }
}

.CardTitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.05;
    margin-bottom: 8px;
    color: var(--CardTitleColor);
    background-color: var(--CardTitleBgrColor);
    text-decoration: underline;
    text-decoration-color: rgba(var(--CardTitleUnderlineColor), 0.2);
    text-underline-offset: 3px;
    transition: .15s ease text-decoration;
}

.CardTitle_Bg {
    padding: .5em .75em;
}

@media screen and (min-width: 768px) {
    .CardTitle {
        font-size: 32px;
        border-radius: 8px;
    }
}

.Card:hover .CardTitle {
    text-decoration-color: rgba(var(--CardTitleUnderlineColor), 0.6);
}

.CardSubtitle {
    font-size: 14px;
    line-height: 1.35;
    margin-top: .5em;
    color: var(--CardSubtitleColor);
}

@media screen and (min-width: 768px) {
    .CardSubtitle {
        font-size: 18px;
    }
}

.CardButton {
    display: inline-block;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.35;
    font-weight: 400;
    padding: .55em 1.2em;
    margin-top: auto;
    color: var(--CardButtonColor);
    background-color: var(--CardButtonBgrColor);
}

@media screen and (min-width: 768px) {
    .CardButton {
        font-size: 18px;
        padding: 16px 40px;
    }
}
