.Card {
    --CardTitleBgrColor: transparent;
    --CardBgImage: none;

    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    height: 100%;

    padding: 16px;
    border-radius: 16px;
    text-decoration: none;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    color: white;
    background-image: var(--CardBgImage);
    transition: .15s ease background-color;
    overflow: hidden;
}

.Card_Public {
    background-color: var(--cards-public-bgr);
    color: var(--cards-public-text);
}

.Card_Public .CardTitle {
    text-decoration-color: rgba(4, 72, 21, .15);
}

.Card_Public:hover {
    background-color: var(--cards-public-bgr-hover);
    color: white;
}

.Card_Pedestrian {
    background-color: var(--cards-pedestrian-bgr);
    color: var(--cards-pedestrian-text);
}

.Card_Pedestrian .CardTitle {
    text-decoration-color: rgba(76, 63, 0, .15);
}

.Card_Pedestrian:hover {
    background-color: var(--cards-pedestrian-bgr-hover);
    color: white;
}

.Card_Car {
    background-color: var(--cards-automobile-bgr);
    color: var(--cards-automobile-text);
}

.Card_Car .CardTitle {
    text-decoration-color: rgba(92, 17, 10, .15);
}

.Card_Car:hover {
    background-color: var(--cards-automobile-bgr-hover);
    color: white;
}

.Card_Other {
    background-color: var(--cards-other-bgr);
    color: var(--cards-other-text);
}

.Card_Other .CardTitle {
    text-decoration-color: rgba(12, 27, 39, .15);
}

.Card_Other:hover {
    background-color: var(--cards-other-bgr-hover);
    color: white;
}

@media (hover: hover) {
    .Card:hover {
        filter: brightness(0.98);
    }
}

.Card:active {
    filter: brightness(0.9);
}

.CardTitle {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.05;
    margin-bottom: 8px;
    background-color: var(--CardTitleBgrColor);
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.2);
    text-underline-offset: 3px;
    transition: .15s ease color, .15s ease text-decoration;
}

.CardDynamic {
    width: 100%;
    margin-top: auto;
}

.CardFooterCaption, .CardFooterCaption_NoSubtitle {
    font-weight: 500;
    margin-top: auto;
    margin-bottom: 0;
}

.CardTitle_Bg {
    padding: .5em .75em;
}

.Card:hover .CardTitle {
    text-decoration-color: rgba(255, 255, 255, 0.6);
}

.CardHeaderCaption {
    font-size: 13px;
    line-height: 1.35;
    margin-top: 15px;
}

@media screen and (min-width: 375px) {
    .Card {
        padding: 16px;
    }

    .CardTitle {
        font-size: clamp(16px, 1vw, 20px);
    }

    .CardFooterCaption {
        font-size: 20px;
    }

    .CardFooterCaption_NoSubtitle {
        font-size: clamp(16px, 1vw, 34px);
    }
}

@media screen and (min-width: 768px) {
    .Card {
        padding: 32px;
        border-radius: 24px;
    }

    .CardFooterCaption {
        font-size: 24px;
    }
    
    .CardFooterCaption_NoSubtitle {
        font-size: 48px;
    }

    .CardTitle {
        font-size: 32px;
        border-radius: 8px;
    }

    .CardHeaderCaption {
        font-size: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .Card {
        padding: clamp(30px, 2vw, 40px);
    }

    .CardTitle {
        font-size: clamp(24px, 1.5vw, 32px);
    }

    .CardHeaderCaption {
        font-size: clamp(16px, 1.1vw, 24px);
    }

    .CardFooterCaption {
        font-size: clamp(20px, 3vw, 3em);
        line-height: 1.3;
    }
}
