.Card {
    --CardTitleColor: inherit;
    --CardTitleBgrColor: transparent;

    --CardTitleUnderlineColor: inherit;

    --CardBgrColor: transparent;
    --CardBgrImage: none;

    --CardSubtitleColor: inherit;

    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: space-between;
    height: 100%;

    padding: 16px;
    border-radius: 16px;
    text-decoration: none;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-color: var(--CardBgrColor);
    background-image: var(--CardBgrImage);
    transition: .15s ease;
    overflow: hidden;
}

@media (hover: hover) {
    .Card:hover {
        filter: brightness(0.98);
    }
}

.Card:active {
    filter: brightness(0.95);
}

.CardTitle {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.05;
    margin-bottom: 8px;
    color: var(--CardTitleColor);
    background-color: var(--CardTitleBgrColor);
    text-decoration: underline;
    text-decoration-color: rgba(var(--CardTitleUnderlineColor), 0.2);
    text-underline-offset: 3px;
    transition: .15s ease text-decoration;
}

.CardBottomCapture, .CardBottomCapture_NoSubtitle {
    color: var(--CardTitleColor);
    font-weight: 500;
    margin: 0;
}

.CardTitle_Bg {
    padding: .5em .75em;
}

.Card:hover .CardTitle {
    text-decoration-color: rgba(var(--CardTitleUnderlineColor), 0.6);
}

.CardSubtitle {
    font-size: 13px;
    line-height: 1.35;
    margin-top: 15px;
    color: var(--CardSubtitleColor);
}


@media screen and (min-width: 375px) {
    .Card {
        padding: 16px;
    }

    .CardTitle {
        font-size: clamp(16px, 20px, 20px);
    }

    .CardBottomCapture {
        font-size: 20px;
    }

    .CardBottomCapture_NoSubtitle {
        font-size: 34px;
    }
}

@media screen and (min-width: 768px) {
    .Card {
        padding: 32px;
        border-radius: 24px;
    }

    .CardBottomCapture {
        font-size: 24px;
    }
    
    .CardBottomCapture_NoSubtitle {
        font-size: 48px;
    }

    .CardTitle {
        font-size: 32px;
        border-radius: 8px;
    }

    .CardSubtitle {
        font-size: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .Card {
        padding: clamp(30px, 2vw, 40px);
    }

    .CardTitle {
        font-size: clamp(24px, 1.5vw, 32px);
    }

    .CardSubtitle {
        font-size: clamp(16px, 16px, 24px);
        line-height: 1.375em;
    }
}
