.MapStopsSidebarHeader {
    display: flex;
    gap: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-right: 80px;

    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.MapStopsSidebarHeaderWrapper {
    position: sticky;
    top: 0;
}

.MapStopsSidebarHeaderIcon {
    height: 37px;
}

.MapStopsSidebarHeaderInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}