.MapInfo {
    border: none;
    background-color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: #000;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: 100ms color ease-out;
}

.MapInfo_opened {
    color: #9baac3;
}