@import './font';

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Iset Sans', sans-serif;
}

a {
    color: inherit;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.leaflet-tile-pane {
    filter: invert(1) sepia(0.75) saturate(2) hue-rotate(180deg) brightness(1.25) contrast(1.1);
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background: black;
    }
}
