@import './font';

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Iset Sans', sans-serif;
    height: 100%;
}

#__next {
    height: 100%;
}

a {
    color: inherit;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.leaflet-control-container .leaflet-bottom.leaflet-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 165px;

    margin: 16px;
}

.leaflet-control-container .leaflet-bottom.leaflet-right > div {
    margin: 0;
}

.leaflet-container {
	background: rgb(225, 225, 225) !important;
}

/* TODO dark theme
@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
} */
