@import './font';

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Iset Sans', sans-serif;
}

a {
    color: inherit;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.leaflet-control-container .leaflet-bottom.leaflet-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 165px;

    margin: 16px;
}

.leaflet-control-container .leaflet-bottom.leaflet-right > div {
    margin: 0;
}

/* TODO Tile server with black Open Street Map */
.leaflet-tile-pane {
    filter: invert(1) sepia(1) saturate(.2) hue-rotate(270deg) brightness(.7) contrast(1.1);

    /* Improve map perfomance with `filter` */
    transform: translateZ(0);
    pointer-events: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background: black;
    }
}
