.Modal {
    max-height: calc(100vh - 150px);
    bottom: 124px;
    margin-top: 16px;
    margin-left: 16px;
    width: 448px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    --close-button-color: black;
}

.ModalContent {
}

.ModalContent::-webkit-scrollbar {
    display: none;
}

.ModalContent > * {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.ModalDragArea {
    display: none;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: -70px;
    height: 70px;
    touch-action: none;
    z-index: 10;
}

.ModalDragArea::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0.5;
    width: 50px;
    height: 10px;
    border-radius: 10px;
    background: #9baac3;
}

@media screen and (max-width: 768px) {
    .Modal {
        width: 94%;
        margin: 0;
        max-height: calc(100% - 90px);
        height: calc(100% - 90px);
        left: 50% !important;
        bottom: 0;
        top: initial !important;
        transform: translate(-50%, 0);
        transition: transform 150ms ease-out;
    }

    .ModalContent {
        max-height: 100%;
        height: 100%;
        overscroll-behavior-y: contain;
    }

    .Modal_fullOpen {
        transform: translate(-50%, 0);
    }

    .Modal_halfOpen {
        transform: translate(-50%, 40%);
    }
    
    .Modal_halfOpen > .ModalContent,
    .Modal_hidden > .ModalContent {
        overflow: hidden;
    }

    .Modal_hidden {
        transform: translate(-50%, 85%);
    }

    .ModalDragArea {
        display: block;
    }
}